* {
background-color: white;


}


#logusp {
    width: 150px;
    height: 150px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42vh;
   gap: 24px;
}
main {
    text-align: center;

}


body {

    font-family: 'Orbitron',sans-serif;
}


#forms-login {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 14vw;
    gap: 18px;
}


#btn-login:hover{
    background-color: gray;
    cursor: pointer;
}


input {
border-radius: 10px;
height: 2.3vh;
padding-left: 10px;

border-style: none;
}

#btn-login {
border-radius: 10px;
height: 3vh;
border-color: black;
border-width: 1px;
}


